*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(Background.png);
    background-size: cover;
    background-position: center;
}
.navbar{
    top: -350px;
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 120px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover:after{
    width: 100%;
}
.content{
    margin-left: 0;
    margin-right: 5%;
    margin-inline: 20%;
    display: flex;
    align-items: left;
    justify-content: space-between;
    color: #fff;
    font-size: 20px;
    letter-spacing: 2px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
.menu {
    margin-left: 0;
    margin-right: 5%;
    margin-inline: 20%;
    display: flex;
    justify-content: space-between;
    align-items: left;
    height: 60vh; /* Set the container's height to the viewport height */
}

.menu img {
    max-width: 60%;
    max-height: 70%;
}
.hubungi{
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        color:#fff;    
}
.hubungi h1{
    font-size: 30px;
    margin-top: 80px;
}
.hubungi p{
    margin-top:1vh;
    cursor: pointer;
}
.social{
    margin: 5vh;
    justify-content: space-between;
    
}
.text_ig{
    font-size: 10px;
    letter-spacing: 2px;
    
}
.text_fb{
    font-size: 10px;
    letter-spacing: 2px;
    margin-right: 20.3%;
    margin-top:-61px;
}
.text_tt{
    font-size: 10px;
    letter-spacing: 2px;
    margin-left: 20.3%;
    margin-top:-13px;
}
.text_fb button{
    background: none;
    outline: none;
    color: #fff;
    border-radius: 25px;
    cursor: grab;
    letter-spacing: 2px;
    font-size: 8px;
}
.text_ig button{
    background: none;
    outline: none;
    color: #fff;
    border-radius: 25px;
    cursor: grab;
    letter-spacing: 2px;
    font-size: 8px;
}
.text_tt button{
    background: none;
    outline: none;
    color: #fff;
    border-radius: 25px;
    cursor: grab;
    letter-spacing: 2px;
    font-size: 8px;
}

